<a href="https://colab.research.google.com/github/RafaelGallo/ML_BigQuery_Google_analytics/blob/main/An%C3%A1lise_dados_Google_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Bibliotecas geral
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

In [ ]:
# Project ID inserted based on the query results selected to explore
project = 'samara-a2d79'

In [ ]:
# Location inserted based on the query results selected to explore
location = 'US'

In [ ]:
# Project
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

In [ ]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_7f8f45a2_18d29c8ffc0') # Job ID inserted based on the query results selected to explore
print(job.query)

In [ ]:
# Running this code will read results from your previous job

# Job ID inserted based on the query results selected to explore
job = client.get_job('bquxjob_7f8f45a2_18d29c8ffc0')
data = job.to_dataframe()
data

In [ ]:
## Data - tabela 2

# Job ID inserted based on the query results selected to explore
job = client.get_job('bquxjob_57178458_18d29d404e6')
data2 = job.to_dataframe()
data2

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.dtypes

In [ ]:
data.describe().T

In [ ]:
data.visitNumber.value_counts()

In [ ]:
data.hitNumber.value_counts()

In [ ]:
data.pagePath.value_counts()

In [ ]:
# Ajuntar as duas tabelas
df = pd.merge(data, data2, on='fullVisitorId', how='left')

# Salvando novo dataset
df.to_csv("dataset_google_analytics.csv",index=False)

# Salvar o DataFrame em um arquivo Excel
df.to_excel('dataset_google_analytics.xlsx', index=False)

In [ ]:
# Visualizando novo dataset
df

In [ ]:
### Limpéza dados
# Verificar dados nulos em todo o DataFrame
dados_nulos = df.isnull().sum()
dados_nulos

In [ ]:
# Verificar dados nulos em uma coluna específica
df['transactionRevenue'].isnull().sum()

In [ ]:
# Verificar dados nulos em uma coluna específica
df['newVisits'].isnull().sum()

In [ ]:
# Remover linhas com valores nulos apenas na coluna 'coluna1'
# Remover linhas com valores nulos apenas na coluna 'coluna1' inplace
df.dropna(subset=['transactionRevenue'], inplace=True)

# Exibir o DataFrame resultante
# Verificar dados nulos em uma coluna específica
df['transactionRevenue'].isnull().sum()

In [ ]:
# Remover linhas com valores nulos apenas na coluna 'coluna1' inplace
df.dropna(subset=['newVisits'], inplace=True)

# Exibir o DataFrame resultante
# Verificar dados nulos em uma coluna específica
df['newVisits'].isnull().sum()

In [ ]:
# Verificar dados nulos em todo o DataFrame
dados_nulos = df.isnull().sum()
dados_nulos

In [ ]:
# Remover linhas com valores nulos
df.dropna()

# Verificar dados nulos em todo o DataFrame
dados_nulos = df.isnull().sum()
dados_nulos

In [ ]:
# Usar o groupby para agrupar por "browser" e calcular a soma de "visitNumber_x"
resultado = df.groupby('browser')['visitNumber_x'].agg(['sum', 'count']).reset_index()
resultado.rename(columns={'sum': 'Total', 'count': 'Count'}, inplace=True)

# Exibir o resultado
resultado.head()

In [ ]:
sns.barplot(x="browser", y="Count", data=resultado)

In [ ]:
# Usar o groupby para agrupar por "browser" e calcular a soma de "transactionRevenue"
resultado2 = df.groupby('browser')['transactionRevenue'].agg(['sum', 'count']).reset_index()
resultado2.rename(columns={'sum': 'Total', 'count': 'Count'}, inplace=True)

# Exibir o resultado
resultado2

In [ ]:
sns.barplot(x="browser", y="Total", data=resultado2)

In [ ]:
sns.scatterplot(x="hitNumber_y", y="transactionRevenue", data=df, hue="browser")

In [ ]:
# Agrupar por 'visitNumber_x' e 'browser' e calcular a média de 'visits'
resultado3 = df.groupby(['visitNumber_x', 'browser'])['visits'].mean().reset_index()

# Renomear a coluna resultante para 'média'
resultado3 = resultado3.rename(columns={'visits': 'média'})

# Visualizando
resultado3.head()

In [ ]:
sns.barplot(x="browser", y="visitNumber_x", hue="browser", data=resultado3)

In [ ]:
sns.histplot(df["transactionRevenue"])

In [ ]:
# Agrupar por 'newVisits' e 'browser' e calcular o total de 'transactionRevenue'
resultado4 = df.groupby(['newVisits', 'browser'])['transactionRevenue'].sum().reset_index()

# Adicionar uma coluna 'total' ao DataFrame usando transform
resultado4['total'] = resultado4.groupby(['browser'])['transactionRevenue'].transform('sum')

# Visualizando
resultado4.head()

In [ ]:
# Criar um gráfico de barras
sns.barplot(x='browser', y='transactionRevenue', data=resultado4)

# Adicionar rótulos e título ao gráfico
plt.xlabel('Navegador')
plt.ylabel('Total de Acessos')
plt.title('Total de Acessos com Navegadores por Tipo de Visita')

# Exibir o gráfico
plt.show()

In [ ]:
sns.boxplot(x="browser", y="transactionRevenue", data=df)